<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Нужен для поиска пакетов рут-менеджеров на Android 11+ -->
    <queries>
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="io.github.vvb2060.magisk" />
        <package android:name="eu.chainfire.supersu" />
        <package android:name="com.koushikdutta.superuser" />
        <package android:name="com.thirdparty.superuser" />
        <package android:name="com.noshufou.android.su" />
        <package android:name="com.noshufou.android.su.elite" />
        <package android:name="com.yellowes.su" />
        <package android:name="com.kingroot.kinguser" />
        <package android:name="com.kingo.root" />
        <package android:name="com.smedialink.oneclickroot" />
        <package android:name="com.zhiqupk.root.global" />
        <package android:name="com.alephzain.framaroot" />
        <package android:name="com.geohot.towelroot" />
        <package android:name="com.me.phh.superuser" />
        <package android:name="org.kernelsu" />
        <package android:name="org.kernelsu.next" />
        <package android:name="com.rifsxd.ksu" />
        <package android:name="me.weishu.kernelsu" />
        <package android:name="com.devadvance.rootcloak" />
        <package android:name="com.formyhm.hideroot" />
        <package android:name="com.am.phh.rootcloak" />
        <package android:name="com.am.phh.rootcloak2" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RootChecker">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
